{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName="Find water near you" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Find water near you</h1>

    <p class="govuk-body">Enter a postcode to see rivers, lakes, reservoirs and bathing waters in your area.</p>

    {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
    {% endif %}

    <form method="post" action="/search" novalidate>
      {{ govukInput({
        label: {
          text: "Postcode",
          classes: "govuk-label--l",
          isPageHeading: false
        },
        hint: {
          text: "For example, BH1 3AA or TR7 1PP"
        },
        id: "postcode",
        name: "postcode",
        value: postcode,
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        errorMessage: errorMessage
      }) }}

      {{ govukButton({
        text: "Find water locations"
      }) }}
    </form>

    <details class="govuk-details govuk-!-margin-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Try example postcodes</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="/overview?postcode=BH1%203AA">BH1 3AA – Bournemouth <strong class="govuk-tag govuk-tag--blue wis-provenance-tag">Live data</strong></a></li>
          <li><a class="govuk-link" href="/overview?postcode=TR7%201PP">TR7 1PP – Newquay, Cornwall <strong class="govuk-tag govuk-tag--blue wis-provenance-tag">Live data</strong></a></li>
          <li><a class="govuk-link" href="/overview?postcode=NE33%202LD">NE33 2LD – South Shields <strong class="govuk-tag govuk-tag--blue wis-provenance-tag">Live data</strong></a></li>
          <li><a class="govuk-link" href="/overview?postcode=YO11%201AA">YO11 1AA – Scarborough <strong class="govuk-tag govuk-tag--blue wis-provenance-tag">Live data</strong></a></li>
          <li><a class="govuk-link" href="/overview?postcode=RG4%208BY">RG4 8BY – Reading (inland river sites) <strong class="govuk-tag govuk-tag--blue wis-provenance-tag">Live data</strong></a></li>
        </ul>
      </div>
    </details>

  </div>
</div>
{% endblock %}
